process {
        cpus   = { check_max( 2    * (2 ** (task.attempt - 1)), 'cpus'   ) }
        memory = { check_max( 8.GB * (2 ** (task.attempt - 1)), 'memory' ) }
        time   = { check_max( 1.h  * task.attempt, 'time'   ) }

        errorStrategy   = 'retry'
        maxRetries      = 1
        maxErrors       = 5

    withLabel:process_low {
        cpus   = { check_max( 2     * (2 ** (task.attempt - 1)), 'cpus'    ) }
        memory = { check_max( 4.GB * (2 ** (task.attempt - 1)), 'memory'  ) }
        time   = { check_max( 1.h   * task.attempt, 'time'    ) }
    }
}
