process {
        withName:FASTQC {
                publishDir = [
                path: {"${params.outdir}/${params.fastqc_outdir}"},
                mode: params.publish_dir_mode
                ]
                }
        withName:CALC_T_A {
                publishDir = [
                path: {"${params.outdir}/${params.outdir_stats}"},
                mode: params.publish_dir_mode
                ]
                }
        withName:PLOT_T_A {
                publishDir = [
                path: {"${params.outdir}/${params.outdir_plots}"},
                mode: params.publish_dir_mode
                ]
                }
        withName:MULTIQC {
                publishDir = [
                path: {"${params.outdir}/${params.multiqc_outdir}"},
                mode: params.publish_dir_mode
                ]
                }
}
