process {
        withName:FASTQC {
                publishDir = [
                path: {"${params.outdir}/${params.fastqc_outdir}"},
                mode: params.publish_dir_mode
                ]
                }
        withName:MULTIQC {
                publishDir = [
                path: {"${params.outdir}/${params.multiqc_outdir}"},
                mode: params.publish_dir_mode
                ]
                }
}
